<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">

    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <div class="row">

  </div>
  <div class="row mt-5">
    <div class="col-xl-8 mb-5 mb-xl-0">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">Custom</h3>
            </div>
            <div class="col text-right">
              <button class="btn btn-sm btn-primary">Button</button>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="row icon-examples">
            <div class="col-lg-3 col-md-6">
              <button type="button" placement="top-center" triggers="hover focus click"
                ngbTooltip="{{copy === 'active-40' ? 'Copied':'Copy to clipboard'}}" class="btn-icon-clipboard"
                ngxClipboard [cbContent]="'active-40'" (cbOnSuccess)="copy = 'active-40'">
                <div>
                  <i class="ni ni-active-40"></i>
                  <span>active-40</span>
                </div>
              </button>
            </div>

            <div class="col-lg-3 col-md-6 block">
              <div>
                Block, hello <span>span text</span> other text
                <hr>
                <a href="" class="link">Google</a>
              </div>
              <a href="" class="link-2">Google</a>

            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>